<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.logictree.rnyoo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rnyoo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.9.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.logictree.rnyoo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.logictree.rnyoo</string>
				<string>fb1499668583616395</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>FacebookAppID</key>
	<string>1499668583616395</string>
	<key>FacebookDisplayName</key>
	<string>Rnyoo</string>
	<key>LSApplicationCategoryType</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location needed..</string>
	<key>NSLocationWhenInUseUsageDesciption</key>
	<string>Location needed to..</string>
	<key>UIAppFonts</key>
	<array>
		<string>OPENSANS-SEMIBOLDITALIC.TTF</string>
		<string>OPENSANS-REGULAR.TTF</string>
		<string>OPENSANS-LIGHTITALIC.TTF</string>
		<string>OPENSANS-ITALIC.TTF</string>
		<string>OPENSANS-EXTRABOLDITALIC.TTF</string>
		<string>OPENSANS-EXTRABOLD</string>
		<string>OPENSANS-BOLDITALIC.TTF</string>
		<string>OPENSANS-BOLD.TTF</string>
		<string>OPENSANS-SEMIBOLD.TTF</string>
		<string>OPENSANS-LIGHT.TTF</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
